/*
Error: Undefined variable: "$appForegroundColor".
        on line 49 of def/common.scss
        from line 2 of amexio/at-am-matrix-maya.scss

44: //   border: 2px solid #666666;
45: //   box-shadow: 0 1px 3px 0 #666666;
46: // }
47: 
48: 
49: // .datetimepicker {
50: //   border: $borderSize solid #666666;
51: //   box-shadow: 0 1px 3px 0 #666666;
52: // }
53: 
54: // label {

Backtrace:
def/common.scss:49
amexio/at-am-matrix-maya.scss:2
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/script/tree/variable.rb:49:in `_perform'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/script/tree/node.rb:50:in `perform'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/stack.rb:135:in `with_frame'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:440:in `map'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/stack.rb:135:in `with_frame'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:325:in `map'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/stack.rb:135:in `with_frame'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/stack.rb:135:in `with_frame'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:157:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/exec/sass_scss.rb:387:in `run'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/exec/base.rb:50:in `parse'
/var/lib/gems/2.3.0/gems/sass-3.7.2/lib/sass/exec/base.rb:18:in `parse!'
/var/lib/gems/2.3.0/gems/sass-3.7.2/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:22:in `load'
/usr/local/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$appForegroundColor\".\A         on line 49 of def/common.scss\A         from line 2 of amexio/at-am-matrix-maya.scss\A \A 44: //   border: 2px solid #666666;\A 45: //   box-shadow: 0 1px 3px 0 #666666;\A 46: // }\A 47: \A 48: \A 49: // .datetimepicker {\A 50: //   border: $borderSize solid #666666;\A 51: //   box-shadow: 0 1px 3px 0 #666666;\A 52: // }\A 53: \A 54: // label {"; }
